# Virtual environments.
/venv/
/.venv/
/env/
/.env

# Python cache files.
__pycache__/
*.py[cod]
*$py.class

# Pytest cache files.
cache/

# Build and distribution artefacts.
/build/
/dist/
*.egg-info/
*.egg

# Test and coverage reports.
.pytest_cache/
.coverage
htmlcov/

# Editor and IDE related.
.vscode/
.idea/

# IPython / Jupyter Notebook.
.ipynb_checkpoints

# Local configuration files.
.env.*

# BundesAPI download folder.
download/